.App {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 70px;
  padding-top: 5%;
  /* background-color: rgba(254, 254, 255, 0.74); */
}
.flex-wrap{
  width: 100%;
  /* height: 1000px; */
  /* border: 1px solid red; */
  display: flex;
  /* align-items: start; */
  row-gap: 20px;
  justify-content: space-evenly;
  flex-wrap:wrap;
}